.App {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: palegoldenrod; */
    /* padding: 10px; */
    width: 350px;
    height: 350px;
    margin: auto;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.Box {
    background-color: white;
    border: 1px solid gray;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}